.header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.headerGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}